*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../pic8.jpg);
    background-size: cover;
}
section{
    width: 1000px;
    height: 420px;
    margin: 150px auto;
    background:transparent;
    border: solid white;
    border-radius: 50px;
}
section:hover{
    transition: 1s;
    transition-delay: 1s;
    color: black;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../pic5.jpeg);
    background-size: cover;
}
form{
    width: 96%;
    height: 100%;
    padding: 20px;
}
.typesize{
    margin-top: 5px;
    font-size: 2.5ch;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.typesize{
    background-color: black;
    color: whitesmoke;
}
form>p{
    padding: 10px 5px;
    font-size: 25px;
    margin: 20px auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
}
button{
    margin: 10px;
    padding:12px 13px;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    background: #00aced;
    cursor: pointer;
    margin-top: 3%;
}
button:hover{
    transition: 0.3;
    background-color:black;
    color: whitesmoke;
}
ul{
    float: right;
    list-style-type:none;
    margin-right: 4%;
    margin-top: 30%;
  }
  ul li{
    display: inline;
  }
  ul li a{
    text-decoration: none;
    color: #fff;
    padding:5px 20px;
    border:1px solid #fff;
    transition: 0.09s ease;
  }
  ul li a:hover{
    background-color: white;
    color: black;
    background-color: white;
    color: black;
  }